
body {
    font-family:verdana;
    background-image: url(images/backgroud.jpg);
    background-size: auto;
    background-size: 1500px 800px;
    background-color:;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
    max-width:3000px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #ffffff;
    font-family:arial;
    text-align: center;
    margin-left: 30px;
    padding-top: 5px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;   
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: .8;
}

td {
    padding: 5px;
    color: #ffffff;
    text-align: left;
    width: 300px;
}

tr{
    padding: 0px;
    text-align: top;
    background-color:
}

img:hover {
  opacity: .6;
}